failed to get console mode for stdout: The handle is invalid.
--
-- PostgreSQL database dump
--

\restrict cYu67kRyEZeD7NagrBqnI3Zhgj4gSFgcj4mciZ6Yt7C4l4h7nurSH7p9v1maigM

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: hotelio
--

CREATE TABLE public.app_user (
    active boolean NOT NULL,
    blacklisted boolean NOT NULL,
    city character varying(255),
    email character varying(255),
    id character varying(255) NOT NULL,
    name character varying(255),
    status character varying(255)
);


ALTER TABLE public.app_user OWNER TO hotelio;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: hotelio
--

CREATE TABLE public.booking (
    discount_percent double precision,
    price double precision NOT NULL,
    created_at timestamp(6) with time zone,
    id bigint NOT NULL,
    hotel_id character varying(255),
    promo_code character varying(255),
    user_id character varying(255)
);


ALTER TABLE public.booking OWNER TO hotelio;

--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: public; Owner: hotelio
--

CREATE SEQUENCE public.booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.booking_id_seq OWNER TO hotelio;

--
-- Name: booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hotelio
--

ALTER SEQUENCE public.booking_id_seq OWNED BY public.booking.id;


--
-- Name: hotel; Type: TABLE; Schema: public; Owner: hotelio
--

CREATE TABLE public.hotel (
    fully_booked boolean NOT NULL,
    operational boolean NOT NULL,
    rating double precision NOT NULL,
    description character varying(1000),
    city character varying(255),
    id character varying(255) NOT NULL
);


ALTER TABLE public.hotel OWNER TO hotelio;

--
-- Name: promo_code; Type: TABLE; Schema: public; Owner: hotelio
--

CREATE TABLE public.promo_code (
    discount double precision NOT NULL,
    expired boolean NOT NULL,
    valid_until date,
    vip_only boolean NOT NULL,
    code character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.promo_code OWNER TO hotelio;

--
-- Name: review; Type: TABLE; Schema: public; Owner: hotelio
--

CREATE TABLE public.review (
    created_at date,
    rating integer NOT NULL,
    text character varying(2000),
    hotel_id character varying(255),
    id character varying(255) NOT NULL,
    user_id character varying(255)
);


ALTER TABLE public.review OWNER TO hotelio;

--
-- Name: booking id; Type: DEFAULT; Schema: public; Owner: hotelio
--

ALTER TABLE ONLY public.booking ALTER COLUMN id SET DEFAULT nextval('public.booking_id_seq'::regclass);


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: hotelio
--

COPY public.app_user (active, blacklisted, city, email, id, name, status) FROM stdin;
t	t	Seoul	alice@test.com	test-user-1	Alice	ACTIVE
t	f	Busan	bob@test.com	test-user-2	Bob	ACTIVE
t	f	Daegu	clara@test.com	test-user-3	Clara	VIP
f	f	Jeju	zoe@test.com	test-user-0	Zoe	ACTIVE
\.


--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: hotelio
--

COPY public.booking (discount_percent, price, created_at, id, hotel_id, promo_code, user_id) FROM stdin;
10	90	2025-10-12 17:58:15.174113+00	1	test-hotel-1	TESTCODE1	test-user-2
0	80	2025-10-12 17:58:15.174113+00	2	test-hotel-1	\N	test-user-3
\.


--
-- Data for Name: hotel; Type: TABLE DATA; Schema: public; Owner: hotelio
--

COPY public.hotel (fully_booked, operational, rating, description, city, id) FROM stdin;
f	t	4.7	Modern hotel in Seoul downtown with spa and skybar.	Seoul	test-hotel-1
t	t	4.5	Luxury beach resort in Busan with ocean view.	Busan	test-hotel-2
f	f	3.8	Affordable business hotel in Daegu center.	Daegu	test-hotel-3
\.


--
-- Data for Name: promo_code; Type: TABLE DATA; Schema: public; Owner: hotelio
--

COPY public.promo_code (discount, expired, valid_until, vip_only, code, description) FROM stdin;
10	f	2099-12-31	f	TESTCODE1	╨Ю╨▒╤Л╤З╨╜╤Л╨╣ ╨┐╤А╨╛╨╝╨╛╨║╨╛╨┤
20	f	2099-12-31	t	TESTCODE-VIP	╨в╨╛╨╗╤М╨║╨╛ ╨┤╨╗╤П VIP
5	t	2000-01-01	f	TESTCODE-OLD	╨Ш╤Б╤В╤С╨║╤И╨╕╨╣ ╨┐╤А╨╛╨╝╨╛╨║╨╛╨┤
\.


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: hotelio
--



--
-- Name: booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hotelio
--

SELECT pg_catalog.setval('public.booking_id_seq', 2, true);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: hotelio
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: hotelio
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (id);


--
-- Name: hotel hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: hotelio
--

ALTER TABLE ONLY public.hotel
    ADD CONSTRAINT hotel_pkey PRIMARY KEY (id);


--
-- Name: promo_code promo_code_pkey; Type: CONSTRAINT; Schema: public; Owner: hotelio
--

ALTER TABLE ONLY public.promo_code
    ADD CONSTRAINT promo_code_pkey PRIMARY KEY (code);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: hotelio
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict cYu67kRyEZeD7NagrBqnI3Zhgj4gSFgcj4mciZ6Yt7C4l4h7nurSH7p9v1maigM

